/* main */

.main {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(Melody.jpg);
  background-position: center center;
}

/* section */

section {
  margin-bottom: 12.8rem;
}

/* section daily flower */

.specialty-content {
  color: rgb(64, 56, 72);
  text-decoration: none;
  text-align: center;
}

.specialty-content:visited,
.specialty-content:link {
  color: rgb(64, 56, 72);
}

.specialty-content:hover,
.specialty-content:active {
  color: rgba(143, 173, 136, 1);
}

.specialty-img {
  width: 16rem;
  height: auto;
  border-radius: 20px;
  transition: all 0.4s;
}

.specialty-img:hover {
  transform: scale(1.1);
}

.specialty-content h4 {
  margin-top: 2rem;
  font-size: 2rem;
}

/* section sentence */

.thought-heading {
  padding: 9.6rem 4.8rem;
  font-size: 2.4rem;
  line-height: 1.8;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.7),
      rgba(34, 34, 34, 0.6)
    ),
    url(group.jpg);
  background-size: cover;
  margin-bottom: 9.6rem;
}

.thought-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.thought-text {
  font-size: 3rem;
  color: rgb(58, 74, 53);
}

/* footer */
footer {
  text-align: center;
  font-size: 1.6rem;
  background: rgba(246, 238, 255, 1);
  padding: 3.2rem;
  color: rgb(64, 56, 72);
}
