/* main */
.main {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.4),
      rgba(34, 34, 34, 0.4)
    ),
    url(taiwan.jpg);
  background-position: 0 12%;
}

/* motivation */

.intro {
  margin-bottom: 9.6rem;
}

.motivation h1 {
  font-size: 4.4rem;
  color: rgb(111, 138, 105);
  margin-bottom: 6.4rem;
}

.motivation-content {
  display: flex;
  gap: 9.6rem;
}

.motivation img {
  height: 400px;
}

/* step */
.step {
  text-align: center;
  border: 6px solid #d8c5c5;
  border-radius: 30px;
  padding: 4rem 0;
}

.step img {
  height: 24rem;
}

/* task */

.task {
  background-color: rgb(252, 244, 255);
  padding-top: 4.8rem;
  padding-bottom: 0.2rem;
}

.task-grid-content {
  text-align: center;
}

.task-grid-img {
  width: 200px;
  border-radius: 50%;
}

.task-content h3 {
  font-size: 38px;
  color: rgb(174, 192, 175);
  margin-top: 1.2rem;
}

/* table */

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9.6rem;
}

table {
  width: 90%;
  margin-top: 6.4rem;
  font-size: 1.6rem;
  /* border: 1px solid #343a40; */
  border-collapse: collapse;
}

th,
td {
  width: 6.4rem;
  /* border: 1px solid #343a40; */
  padding: 1.6rem 2.4rem;
  text-align: left;
}

thead tr {
  background-color: rgba(85, 70, 101, 1);
  color: #fff;
}

thead th {
  width: 75%;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #f7efff;
}

/* future */

.future ul {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
  line-height: 4.8rem;
}

/* question */
.question {
  text-align: center;
  margin-bottom: 9.6rem;
}

.question-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.question img {
  height: 43.5rem;
}

/* footer */
footer {
  text-align: center;
  font-size: 1.6rem;
  background: rgba(246, 238, 255, 1);
  padding: 3.2rem;
  color: rgb(64, 56, 72);
}
