/* main */
.main {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.4),
      rgba(34, 34, 34, 0.4)
    ),
    url(awe1.jpg);
  background-position: 0 16%;
}

/* section */
.question {
  text-align: center;
}

.question-box {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.question-box img {
  max-height: 44rem;
  border-radius: 30px;
  object-fit: contain;
}

.result-box {
  text-align: center;
  background: #f8eded;
  padding: 6.4rem 4.8rem;
  border-radius: 20px;
}

hr {
  margin: 9.6rem 0;
  border: 0.8px solid #d8c5c5;
}

.result-content {
  display: flex;
  gap: 9.6rem;
}

.result-content-text {
  color: rgb(64, 56, 72);
  font-size: 1.8rem;
  line-height: 2.2;
}

.result-content img {
  object-fit: cover;
  width: 40rem;
}

.motivation {
  border: 0.6rem solid #d8c5c5;
  border-radius: 30px;
  width: 80%;
  padding: 4.8rem;
  margin: 9.6rem auto;
}

.motivation-text {
  font-size: 1.8rem;
  line-height: 2.4;
}

/* footer */
footer {
  text-align: center;
  font-size: 1.6rem;
  background: rgba(246, 238, 255, 1);
  padding: 3.2rem;
  color: rgb(64, 56, 72);
}

/**************************/
/* QUERIES */
/**************************/

/* ********************* */
/* ** max-width:1200px ** */
/* ********************* */
@media (max-width: 75em) {
  .question-box img {
    height: 32rem;
  }
}

/* ********************* */
/* ** max-width:944px ** */
/* ********************* */
@media (max-width: 59em) {
  .question-box {
    flex-direction: column;
  }

  .result-content {
    gap: 3.2rem;
  }

  .motivation {
    width: 90%;
  }
}

/* ********************* */
/* ** max-width:720px ** */
/* ********************* */
@media (max-width: 45em) {
  .result-content {
    display: flex;
    flex-direction: column;
  }

  .result-content img {
    height: 30rem;
    width: 100%;
    align-self: center;
    object-position: top;
  }
}
