/* main */
.main {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.4),
      rgba(34, 34, 34, 0.4)
    ),
    url(awe1.jpg);
  background-position: 0 16%;
}

/* section */
.question {
  text-align: center;
}

.question-box {
  display: flex;
}

.question-box img {
  height: 43.5rem;
  width: auto;
  border-radius: 30px;
  padding: 2rem;
}

.result-box {
  text-align: center;
  background: #f8eded;
  padding: 6.4rem 4.8rem;
  border-radius: 20px;
}

hr {
  margin: 9.6rem 0;
  border: 0.8px solid #d8c5c5;
}

.result-content {
  display: flex;
  gap: 9.6rem;
}

.result-content-text {
  color: rgb(64, 56, 72);
  font-size: 1.8rem;
  line-height: 2.2;
}

.result-content img {
  width: 40rem;
}

.motivation {
  border: 0.6rem solid #d8c5c5;
  border-radius: 30px;
  width: 80%;
  padding: 4.8rem;
  margin: 9.6rem auto;
}

.motivation-text {
  font-size: 1.8rem;
  line-height: 2.4;
}

/* footer */
footer {
  text-align: center;
  font-size: 1.6rem;
  background: rgba(246, 238, 255, 1);
  padding: 3.2rem;
  color: rgb(64, 56, 72);
}
